    <footer id="footer-content" class="bg-grau">
      <div id="footer">
        <div class="row">
          <div class="panel callout radius">
            <h2>Acknowledgements</h2>
            <p><em>Dockstader on Dockstader</em>, most of the <em>Composition notes</em> and two reviews from the CD releases &copy; <a href="http://www.starkland.com/" target="_blank">Starkland</a> 1992/3. Used by Permission. This material is provided for the private use of individual web site visitors and must not be used or reproduced in any other manner without the prior written consent of <a href="http://www.starkland.com/" target="_blank">Starkland</a>.</p>
            <p>Many thanks to NOMEX for directing me towards Dockstader's music and to Howard Slater for his support, encouragement and contribution. This site has been constructed to disseminate information about Tod Dockstader - if you have any contributions, please email them to the <a href="mailto:info@dockstader.info">info@dockstader.info</a>.</p>
          </div>
        </div>
      </div>
    </footer>
