html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	max-width: 64rem;
	margin: 4rem auto 0;
	min-height: 100%;
	font-size: 100%;
	background: $bg;
	color: $fg;
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 150%;
	padding: 0;
	position: relative;
}

a {
	color: $link;
	text-decoration: none;
}
a:hover,
a:focus,
a:active {
	color: $linkactive;
}
img {
	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
	display: inline-block;
	vertical-align: middle;
}
div,
ul,
li,
h1,
h2,
h3,
p {
	margin: 0;
	padding: 0;
}
p {
	font-family: inherit;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.6;
	margin-bottom: 1.25rem;
	text-rendering: optimizeLegibility;
}
li>p {
	margin-bottom: .25rem;
}
h1,
h2,
h3 {
	color: #222;
	font-style: bold;
	font-weight: bold;
	line-height: 1.4;
	margin-bottom: 0.5rem;
	margin-top: 0.2rem;
	text-rendering: optimizeLegibility;
}
h1 {
	font-size: 2.125rem;
}
h2 {
	font-size: 1.6875rem;
}
h3 {
	font-size: 1.375rem;
}
.subheader {
	line-height: 1.4;
	color: #6f6f6f;
	font-weight: normal;
	margin-top: 0.2rem;
	margin-bottom: 0.5rem;
}
em {
	font-style: italic;
	line-height: inherit;
}
ul {
	font-family: inherit;
	font-size: 1rem;
	line-height: 1.6;
	list-style-position: outside;
	margin-bottom: 1.25rem;
	margin-left: 1.1rem;
}
figure {
	margin: 1em 0;
	text-align: left;
}
img {
	&.figurehead {
		width: 100%;
		height: auto;
		max-height: 8em;
	}
	&.full,
	&.right,
	&.left {
		width: 100%;
		height: auto;
	}
}
blockquote {
	margin: 1.25rem 0;
	padding: 1rem 1.25rem 1rem 3rem;
	background: $quotebg;
	color: $quotefg;
	border-left: 5px solid $quoteborder;
	position: relative;
	p {
		font-style:italic;
		font-size: 1.2rem;
		line-height: 1.6;
	}
	&::before{
		content: "\201C";
		color:$quoteborder;
		font-family: serif;
		font-size:4rem;
		position: absolute;
		left: .25rem;
		top: 1rem;
	}
	&.noquote {
		padding: 1rem 1.25rem 0.1rem 1.25rem;
		&::before {
			content: '';
		}
	}
	&::after{
		content: '';
	}
	footer {
		display: block;
		color: $quotefooter;
		font-style: normal;
		font-weight: bold;
		margin-top: .5rem;
	}
}
.vcard {
	display: block;
	margin: 1.25rem 0;
	padding: 1rem 1.25rem;
	background: $vcardbg;
	color: $vcardfg;
	border-left: 5px solid $vcardborder;
}
.vcard .fn {
	font-weight: bold;
}
.row {
	max-width: 64rem;
	width: 100%;
	padding: 0 2%;
}
.small {
	font-size: smaller;
}
.f-topbar-fixed {
	padding-top: 45px;
}
.release {
	img {
		float: left;
		margin: 0 1em 1em 0;
	}
	.content {
		clear: both;
	}
}
.labelname,
.releasesheader {
	background: $highlight;
	padding-left: 0.1em;
	box-shadow: 0px 0px 8px 2px $highlightborder;
}
li.url {
	overflow-wrap: break-all;
	word-wrap: break-all;
	-ms-word-break: break-all;
	word-break: break-all;
	hyphens: auto;
}
@media only screen and (min-width: 44rem) {
	img {
		&.right {
			width: 50%;
			margin: 0 0 1em 1em;
			float: right;
		}
		&.left {
			width: 50%;
			margin: 0 1em 1em 0;
			float: left;
		}
	}
}
@media only screen and (min-width: 44rem) {
	h1,
	h2,
	h3 {
		line-height: 1.4;
	}
	h1 {
		font-size: 2.75rem;
	}
	h2 {
		font-size: 2.3125rem;
	}
	h3 {
		font-size: 1.6875rem;
	}
}
@media only screen {
	.show-for-small-only {
		display: inherit !important;
	}
}
@media only screen and (min-width: 44rem) {
	.show-for-small-only {
		display: none !important;
	}
}

