@font-face {
    font-family: "Open Sans";
    src: url('../font/OpenSans.woff') format('woff'),
         url('../font/OpenSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}