#footer-content {
	clear: both;
	margin-top: 1em;
}
.footer-panel {
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: $footerbg;
	box-shadow: 0px 0px 8px 2px $footerborder;
    color: $footerfg;
    & > :first-child {
        margin-top: 0;
    }
    & > :last-child {
        margin-bottom: 0;
    }
    h3 {
        line-height: 1.4;
        margin-bottom: 0.625rem;
    }
}
