/* Advanced Checkbox Hack */
body {
	-webkit-animation: bugfix infinite 1s;
	margin-top: 4rem;
}
@-webkit-keyframes bugfix {
	from {
		padding: 0;
	}
	to {
		padding: 0;
	}
}

.top-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: $navbg;
	color: $navfg;
	min-height: 2.5em;

	input[type="checkbox"] {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	label {
		padding-top: 0.8rem;
		display: none;
		cursor: pointer;
		user-select: none;
	}
	h1 {
		font-size: 2rem;
		line-height: 2rem;
		padding-left: 1rem;
		float: left;
	}

	/* custom-dropdown */
	nav {
		a,
		label {
			color: #ccc;
			text-decoration: none;
			font-size: 1rem;
			transition: color 0.3s ease-in-out;
		}

		ul {
			padding: 0;
			margin: 0 auto;
			width: 100%;
			list-style: none;

			> li {
				float: left;
				padding: 0.8rem 0.8rem;
				transition-duration: 0.3s;
				transition-timing-function: ease-in-out;
				transition-property: box-shadow, color;
				box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.35);
				cursor: pointer;

				&:hover {
					background-color: rgba(0, 0, 0, 0.85);
					color: #fff;
					box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.35), inset 0 0 0 2em rgba(0, 0, 0, 0.3);
					> a {
						color: #fff;
					}
				}
			}
		}
	}
}
/* small screens */
@media screen and (max-width: 44em) {
	.top-bar {
		nav {
			ul {
				display: none;
				height: 100%;
			}

			label {
				position: relative;
				display: block;
				width: 100%;
				min-height: 2.2rem;
				padding: 0.45rem;
				font-size: 1.1rem;
				line-height: 2.2rem;
				margin: 0;
				border: 0.15em solid rgba(60, 60, 60, 0.2);
			}

			label:after {
				position: absolute;
				right: 0.25em;
				top: 0;
				content: "\2261";
				font-size: 1.8em;
			}

			input[type="checkbox"]:checked ~ label:after {
				color: #222;
			}

			input[type="checkbox"]:checked ~ ul {
				display: block;

				> li {
					width: 100%;
					opacity: 0.8;
					text-align: left;
					a {
						display:block;
					}

					&:before {
						position: absolute;
						right: 0.25em;
						content: "\203A";
						font: bold 1.4em sans-serif;
					}
				}
			}
		}
	}
}
.nav-buttons {
	display:flex;
	justify-content:space-between;
	width: 100%;
	a {
		flex:1;
		position:relative;
		padding: 1rem;
		border-style: solid;
		border-width: 1px;
		border-radius: 3px;
		border-color: $footerborder;
		background: $footerbg;
		color: $footerfg;
		&:first-child {
			padding-left:2rem;
			&:before {
				position: absolute;
				left: 0.25em;
				content: "\2039";
				font: bold 1.5em sans-serif;
			}
		}
		&:last-child {
			padding-right:2rem;
			text-align:right;
			&:before {
				position: absolute;
				right: 0.25em;
				content: "\203A";
				font: bold 1.5em sans-serif;
			}
		}
	}
}