$bg: #fff;
$fg: #222;
$highlight: #ddd;
$highlightborder: #eee;

$link: #006080;
$linkactive: #004961;

/* quotes */
$quotebg: #eee;
$quotefg: #666;
$quotefooter: #333;
$quoteborder: #ccc;

/* vcard */
$vcardfg: #666;
$vcardbg: #eee;
$vcardborder: #66c6f6;

/* navigation */
$navbg: #333;
$navborder: #1a1a1a;
$navfg: #fff;

/* footer */
$footerbg:#ecfaff;
$footerfg: #333;
$footerborder: #d8d8d8;