$bg: #fff;
$fg: #222;
$highlight: #ddd;

$link: #008cba;
$linkactive: #0078a0;

/* navigation */
$navbg: #333;
$navborder: #1a1a1a;
$navfg: #fff;
$navhover: #fff;
$navhoverbg: #008cba;
$navdivider: #4e4e4e;

/* footer */
$footerbg:#ecfaff;
$footerfg: #333;
$footerborder: #d8d8d8;