$bg: #fff;
$fg: #222;
$highlight: #ddd;

$link: #006080;
$linkactive: #004961;

/* navigation */
$navbg: #333;
$navborder: #1a1a1a;
$navfg: #fff;

/* footer */
$footerbg:#ecfaff;
$footerfg: #333;
$footerborder: #d8d8d8;