---
layout: default
format: compositions
---
<div class="row">
	<article itemscope itemtype="http://schema.org/Article">
		<header>
			<h1><a href="{{ site.url }}/compositions/">Compositions</a> &raquo; {{ page.title }}</h1>
		</header>

		{{ content }}

{% if page.samples %}
	{% for rel in page.samples %}
	<div class="audio">
	    <h4><em>{{ rel.title }}</em></h4>
		<audio controls>
			<source src="{{site.musicurl}}{{ rel.filename }}.ogg" type="audio/ogg">
			<source src="{{site.musicurl}}{{ rel.filename }}.mp3" type="audio/mpeg">
			<p>Your browser does not support the audio element. Download {{ rel.title }} in <a href="{{ site.musicurl }}{{ rel.filename }}.mp3" title="Download MP3">MP3</a> or <a href="{{ site.musicurl }}{{ rel.filename }}.ogg" title="Download OGG">OGG</a> format.</p>
		</audio>
	</div>
	{% endfor %}
{% endif %}	


{% if page.releases %}
	<h3 class="releasesheader">Releases</h3>
	{% for comp in page.releases %}
		{% for label in site.data.discography %}
			{% for release in label.recordings %}
				{% if release.catalogue_no == comp %}
				<div class="release">
					<img src="{{ site.urlimg }}discography/{{ release.coverimage }}">
					<h4>{{ release.title }} ({{label.name}}, {{ release.date }})</h4>
					<p class="cat-no">{{ release.catalogue_no }}</p>
					<p class="content">{{ release.contents }}</p>
					{% if release.url %}
					<p class="url"><a href="{{ release.url }}">{{ release.url }}</a></p>
					{% endif %}
				</div>
				{% endif %}
			{% endfor %}
		{% endfor %}	
	{% endfor %}
{% endif %}	

	</article>
</div>
