---
layout: default
---
<div class="row t30">
	<div class="small-12 columns">
		{% if site.data.discography %}
		{% for label in site.data.discography %}
		<section>
			<header>
			    <h2>{{ label.name }}</h2>
			    {% if label.preamble %}
			    <p>{{ label.preamble }}</p>
			    {% endif %}
			</header>
			{% for release in label.recordings %}
			<div class="release">
				<img src="{{ site.urlimg }}discography/{{ release.coverimage }}">
				<h3>{{ release.title }} ({{ release.date }})</h3>
				<p class="cat-no">{{ release.catalogue_no }}</p>
				<p class="content">{{ release.contents }}</p>
			</div>
			{% endfor %}
		</section>
		{% endfor %}	
		{% endif %}	
	</div>
</div>